body{
    background-color: #ddd;
    margin: 0;
  }
  
  header{
    background: #60584d;
    color: #fff;
    width: 200%;
    max-width: 1800px;
    height: 130px;
    margin: 0 auto;
  }
  
  #main{
    background-color: #fff;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px 40px;
    overflow: hidden;
  }
  
  footer{
    background: #fff;
    color: #fff;
    width: 200%;
    max-width: 1800px;
    height: 450px;
    margin: 0 auto; 
  }
  
  #tabs{
    position: relative;
  }
  
  span.diana {
    position: fixed;
    display: none;
    }
  
  .diana + a {
    list-style: none;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    margin-bottom: -1px;
    border-radius: 8px 8px 0 0;
    margin-right: 10px;
    text-decoration:none;
  }
  
  .diana:target + a {
    background-color: #fff;
    border-bottom-color: #fff; 
  }
  
  #Inicio, #Pasteles, #Panques, #Contacto{
    position: absolute;
    top: 31px;
    left: 0;
    border: none;
    clear: both;
    overflow: hidden;
  }
  
    #Inicio > div, #Pasteles > div, #Panques > div, #Contacto{
      opacity: 0;
      transition: all 0.1s ease;
      padding: 30px;
      
    }
  
  #uno:target ~ #Inicio, #dos:target ~ #Pasteles, #tres:target ~ #Panques #cuatro:target ~ #Contacto{
    position: static;
    border: 1px solid #ddd;
  }
  
    #uno:target ~ #Inicio > div, #dos:target ~ #Pasteles > div, #tres:target ~ #Panques > div, #cuatro:target ~ #Contacto{
      opacity: 1;
      transition: all 1s ease;
    }

    img {
      width: 120px;
      height: 100px;
      float: left;
      padding: 8px;
  }